html{
    height: 100vh;
    width: 100vw;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url("img/battlefield.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
}

.slot {
    position: absolute;
}
#slot1 {
    top: 14%;
    left: -3.5%;
    z-index: 4;
}
#slot2 {
    top: 22%;
    left: 8%;
    z-index: 3;
}
#slot3 {
    top: 30%;
    left: 19.5%;
    z-index: 2;
}
#slot4 {
    top: 38%;
    left: 31%;
    z-index: 1;
}
#slot5 {
    top: 14%;
    left: 83.5%;
    z-index: 1;
}
#slot6 {
    top: 22%;
    left: 72%;
    z-index: 2;
}
#slot7 {
    top: 30%;
    left: 60.5%;
    z-index: 3;
}
#slot8 {
    top: 38%;
    left: 49%;
    z-index: 4;
}

.slot .ch-img {
    position: relative;
    height: 20.5vw;
    width: 20.5vw;
}
.slot .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.slot .circle {
    position: absolute;
    top: 70%;
    left: 20%;
    height: 20%;
    width: 60%;
    visibility: hidden;
}

#btn1{
    visibility: hidden;
}
#btn2{
    visibility: hidden;
}
#btn3{
    visibility: hidden;
}
#btn4{
    visibility: hidden;
}
#btn5{
    visibility: hidden;
}
#btn6{
    visibility: hidden;
}
#btn7{
    visibility: hidden;
}
#btn8{
    visibility: hidden;
}

#optionMenu {
    background-image: url("img/panel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 97%;
    height: 23%;
    bottom: 2%;
    right: 2%;
}

.skill {
    position: absolute;
    top: 4%;
    height: 90%;
    width: 15%;
    text-align: center;
    line-height: 140%;
    font-family: "Times New Roman", Times, serif;
    font-size: 160%;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px black;
}
#skill1 {
    left: 1%
}
#skill2 {
    left: 17%
}
#skill3 {
    left: 33%
}
#skill4 {
    left: 49%
}

.skill-button {
    right: 5%;
    top: 5%;
    width: 5rem;
    height: 5rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.skill-descr {
    font-size: 70%;
}
#skill-icon-1 {
    background-image: url("img/skills/loading.jpg");
}
#skill-icon-2 {
    background-image: url("img/skills/loading.jpg");
}
#skill-icon-3 {
    background-image: url("img/skills/loading.jpg");
}
#skill-icon-4 {
    background-image: url("img/skills/loading.jpg");
}

div.ex3 {
    position: absolute;
    background-color: white;
    width: 32%;
    height: 95%;
    bottom: 2%;
    right: 0.5%;
    overflow: auto;
}